* {
  background-color: #ffffff; /* Light background */
  color: #000000; /* Dark text color */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern font */
}

.container {
  display: grid;
  grid-template-columns: 1fr 1000px; /* Adjust column widths */
  gap: 20px;
}

.options, .upload {
  background-color: #fff; /* White background for sections */
  border: 1px solid #ddd; /* Subtle border */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.image-container {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-y: auto;
  height: 75vh;
}

.image-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center; /* Center align images */
}

.highlight {
  max-width: 100%;
  height: auto; /* Ensure images resize proportionally */
}

.commentary {
  height: 75vh;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.play_audio {
  background-color: #007bff; /* Blue button */
  color: #fff; /* White text */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  /* margin-top: 10px; Add margin to separate from other buttons */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.play_audio:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.options {
  background-color: #ffffff; /* Lighter background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.option-group {
  margin-bottom: 20px;
}

.option-group label {
  display: block;
  margin-bottom: 5px;
}

.option-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.option-group input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option-group input[type="submit"]:hover {
  background-color: #0056b3;
}

.options, .upload {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap */
  justify-content: space-evenly;
}

.upload {
  align-items: center;
  text-align: center; /* Center align text */
}

.upload_button {
  background-color: #007bff; /* Blue button */
  color: #fff; /* White text */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upload_button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr; /* Reset to single column layout on small screens */
  }
}
